.about-story .columns {
  max-width: 900px;
  margin: 0 auto;
}

.about-story p {
  margin: 3rem 0;
}

.about-specialty {
  background: hsla(290,50%,13%,.80);
}

.about-specialty p, .carousel-item p {
  padding: 0 3em;
}

.about-quote {
  max-width: 40em;
  margin: 0 auto;
}

.about-location-intro-left-image {
  position: relative;
  height: 100%;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  filter: saturate(60%);
}

@media (min-width: 769px) {
  .about-location-intro-left-image {
    height: 400px;
  }
}

.about-testimonials {
  padding-bottom: 3em;
}

.about-carousel {
  max-width: 700px;
  margin: 0 auto;
}