.about {
  background: url('../assets/about-background.jpg') center no-repeat;
  background-size: cover;
  height: 40vh;
}

.about .container {
}

.about-story .columns {
  max-width: 900px;
  margin: 0 auto;
}

.about-story p {
  margin: 3rem 0;
}

.about-quote {
  max-width: 40em;
  margin: 0 auto;
}
