.contactinfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contactinfo > div {
  margin: 2em 4em;
}

.contactinfo-hours {
  width: 24em;
}

.contactinfo-hours-header {
  margin-bottom: .5em;
}