.main {
  background: url('../assets/home-background.jpg') center no-repeat;
  background-size: cover;
  height: 70vh;
}

.food-intro-text {
  padding-right: 3rem;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a c d" "b c d" "e e d";
}

.grid-container div{
  background: beige;
  min-height: 200px;
}

.a { grid-area: a; }

.b { grid-area: b; }

.c { grid-area: c; }

.d { grid-area: d; }

.e { grid-area: e; }

.reservations {
  background: #800000;
  height: 330px;
}

.reservations .title {
  margin-bottom: 3rem;
}

.location-intro {
  max-width:1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.location-intro-left {
  background: url('../assets/downtown-toronto.jpg') center no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  position: relative;
}

.location-intro-right {
  position: relative;
  background: #F0F8FF;
  width: 40%;
  display: flex;
  padding: 4rem;
}

.services {
  background: #778899;
}

.services-tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-container {
  flex-direction: row;
  padding: 2rem;
}

.contact-container .table {
  margin: 0 6rem;
}

.table td, .table th {
  border: 0px solid white;
}

.table th {
  text-align: center;
}

.contact-schedule td:first-of-type {
  text-align: right;
}

.contact-info td:first-of-type {
  font-size: 2rem;
  padding: 0;
}
