.main {
  background: url('../assets/home-background.jpg') center no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
}

.food-intro-text {
  padding-right: 3rem;
}

.grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "b a a" "c a a" "d d e";
}

.grid-container div{
  min-height: 200px;
  position: relative;
}

.a {
  grid-area: a;
  background: url("../assets/home/Chicken_Tikka_Masala_Curry.png") center no-repeat;
  background-size: cover;
}

.b {
  grid-area: b;
  background: url('../assets/home/Chanamasala.jpg') center no-repeat;
  background-size: cover;
}

.c {
  grid-area: c;
  background: url('../assets/home/indian-sweet-371357_1920.jpg') center no-repeat;
  background-size: cover;
}

.d {
  grid-area: d;
  background: url('../assets/home/Chicken_Biryani_in_Chennai.jpg') center no-repeat;
  background-size: cover;
}

.e {
  grid-area: e;
  background: url('../assets/home/Marro_Dhokla.jpg') center no-repeat;
  background-size: cover;
}

.image-credit {
  color: white;
  background: rgba(0,0,0,.7);
  font-size: .6em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

.home-reservations {
  background: #800000;
  height: 330px;
}

.home-reservations .title {
  margin-bottom: 3rem;
}

.location-intro {
  max-width:1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.location-intro-left {
  width: 60%;
  position: relative;
}

.location-intro-left-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.location-intro-left-image-caption {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  padding-left: .5em;
  color: white;
  width: 100%;
}

.location-intro-right {
  position: relative;
  background: #F0F8FF;
  width: 40%;
  display: flex;
  padding: 4rem;
}

.services {
  background: #778899;
}

.services-tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
