.reservations-form {
  margin: 0 auto;
  max-width: 1000px;
}

.reservations-form-padding {
  padding: 0 2em;
}

form {
  margin:0;
}

form > * {
  margin-bottom: 2em;
}

form p {
  font-weight: bold;
}
