.reservations-form {
  margin: 0 auto;
  max-width: 1000px;
}

.reservations-form-contact p {
  padding-right: 2em;
}

.reservations-form-contact {
  height: 400px;
}

form > * {
  margin-bottom: 2em;
}

form p {
  font-weight: bold;
}

.reservations-submit {
  background: none;
  color: hsla(290,50%,13%,.8);
  height: 3em;
  font-size: 1.25em;
  padding: 0 1em;
  border: 1px solid hsla(290,50%,13%,.8);
  border-radius: 4px;
  transition: all .2s;
  cursor: pointer;
}

.reservations-submit:hover {
  background: hsla(290,50%,13%,.8);
  color: white;
}

.reservations-submit:active {
  background: hsla(290,50%,13%,.9);
}
