body {
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 360px) {
  .fluid-h1 {
    font-size: calc(3rem + ((1vw - 3.6px) * 5.1282));
  }
}
@media (min-width: 1920px) {
  .fluid-h1 {
    font-size: 128px;
  }
}

header h1 {
  text-shadow: .2rem .2rem 1rem black;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
}

.sectionComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sectionComponentBefore {
  content: "";
  display: block;
  width: 100%;
  filter: brightness(.5);
} 

section {
  padding: 5rem 0;
}

.title.has-text-centered:after {
  margin: 0 auto;
  margin-top: 1.5rem;
}

p {
  letter-spacing: 2px
}

.button {
  transition: all .2s;
}
